/* Soluzione qui */

/* Tablet */

@media screen and (min-width:768px) {

    main {
        padding: 40px;

    }

    #topbar {
        display: block;
    }

    .recipe-name {
        color: #4e3969;
        font-size: 35px;
    }

    .recipe-origin {
        display: inline;
    }

    .quick-notes ul {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .quick-notes ul li {
        flex-basis: calc(100% / 3 - (40px / 3));
    }

    .social-networks button {
        flex-grow: 1;
    }

    .ads {
        display: inline-block;
    }

    .clearfix img {
        float: left;
        margin-right: 10px;
    }

    .clerafix::after {
        content: "";
        display: table;
        clear: both;
    }

}

/* versione desktop*/

@media screen and (min-width:992px) {

    main {
        padding-left: 150px;
        padding-right: 150px;
    }

    .quick-notes ul {
        display: inline;
    }

    .recipe-card {
        display: flex;
    }


    .recipe-video {
        width: 60%;
        height: 320px;
    }

    .recipe-info {
        width: 40%;
    }

    .social-networks .label {
        display: inline;
    }

    footer {
        text-align: left;
        display: flex;
        justify-content: space-between;
    }
}



